*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "YekanBakhMedium" , Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 21px 0 7px;
    margin: auto;
}

.logo{
    width: 150px;
}

.header-ul {
    display: flex;
    list-style: none;
}

.header-ul li a{
    cursor: pointer;
    text-decoration: none;
}
.header-ul li {
    font-size: 14px;
    margin: 0 15px;
}
.more-menu {
    display: flex;
}
.more-menu img {
    width: 10px;
    margin-right: 8px;
}
