*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "YekanBakhMedium" , Arial, Helvetica, sans-serif;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}