*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "YekanBakhBold" , Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 21px 0 7px;
    margin: auto;
    flex-wrap: wrap;
    background-color:#fff;
}

.logo{
    margin-right: 150px;
}
.logo img{
    width: 200px;
}


.header-ul{
    display: flex;
    list-style: none;
    margin-left: 30px ;
}

.header-ul li a{
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s ease;
}
.header-ul li {
    font-size: 14px;
    margin: 0 15px;
}
.more-menu {
    display: flex;
}
.more-menu img {
    width: 10px;
    margin-right: 8px;
}
.user{
    display: flex;
    margin-left: 150px;
    margin-right: 130px;
    font-size: 14px;
    
}
.user .login a{
    color: aliceblue;
    margin-left: 30px;
    text-decoration: none;
    background-color:#cd63ff;  
    padding: 8px 20px;
    border-radius: 10px;
}
.user .dashboard a{
    color: #000;
    margin-left: 30px;
    text-decoration: none;
    padding: 7px 18px;
    border-style: solid;
    border-radius: 10px;
}

nav {
    margin-bottom: 10px;
    display: flex;
    position: sticky;
}
.line-hover:hover {
    color:#cd63ff;
    box-shadow: 0 2px 0 0 currentColor;
}
section {
    position:absolute;
    top: 200px;
    right: 150px;
}
section p {
    font-size: 18px;
}
section h2 {
    font-size: 40px;
}
section div ul li {
    list-style: none;
}
.canection {
    display: flex;
    
    
}
.canection li a {
    text-decoration: none;
    color: #fff;
}
#money{
    font-size: 20px;
}
#discord {
    font-size: 20px;
    padding:10px 10px 4px 10px;
    border-radius: 10px;
    background-color:rgb(99,91,255);
    margin-right: 70px;
}




