*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "YekanBakhBold" , Arial, Helvetica, sans-serif;
}
header{

    width: 100%;
    padding: 21px 0 0px;
    margin: auto;
    background-color:#fff;
}

.logo img{
    width: 200px;
}


.header-ul{
    display: flex;
    list-style: none;
}

.header-ul li a{
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s ease;
}
.header-ul li {
    font-size: 14px;
    margin: 0 19px;
}
.more-menu img {
    width: 8px;
    margin-right: 8px;
}
.user{
    display: flex;
    font-size: 14px;
    
}
.user .login a{
    color: aliceblue;
    margin-left: 30px;
    text-decoration: none;
    background-color:#cd63ff;  
    padding: 8px 20px;
    border-radius: 10px;
}
.user .dashboard a{
    color: #000;
    text-decoration: none;
    padding: 7px 18px;
    border-style: solid;
    border-radius: 10px;
}

nav {
    background-color: #fff;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    position: sticky;
    top: 0;
}
.line-hover:hover {
    color:#cd63ff;
    box-shadow: 0 2px 0 0 currentColor;
}
section {
    height: calc(100vh - 91px);
    background: url(https://res.cloudinary.com/dvzadhnmh/image/upload/v1683021602/fundednext-prod/mt5-laptop-hero.svg);
    background-position:center;
    background-size: cover;
    color: #fff;
    position: relative;
}


.test { 
    position: absolute;
    top: 120px;
    right: 100px;
}




